@import "./profile.css";
* {
    outline: none;
    user-select: none;
}
:root {
    scrollbar-color: lightgray black;
}
body, ::selection {
    background-color: black;
    color: lightgray;
}

button {
    background-color: lightgray;
    border-radius: 5px;
}
button:not([disabled]) {
    cursor: pointer;
}
li {
    list-style: square;
}
